In [1]:
import pandas as pd
import numpy as np 
df=pd.read_csv("prog7heart disease.csv")
df.head()

   age  Gender  Family  diet  Lifestyle  cholestrol  heartdisease
0    0       0       1     1          3           0             1
1    0       1       1     1          3           0             1
2    1       0       0     0          2           1             1
3    4       0       1     1          3           2             0
4    3       1       1     0          0           2             0

In [2]:
from pgmpy.models import BayesianModel
from pgmpy.estimators import MaximumLikelihoodEstimator
model=BayesianModel([('age','Family'),('Gender','diet'),('Gender','Lifestyle'),('Gender','heartdisease'),('age','Lifestyle'),('age','cholestrol'),('age','heartdisease'),('Family','diet'),('Family','Lifestyle'),('cholestrol','heartdisease')])
model.fit(df,estimator=MaximumLikelihoodEstimator)
model

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
from pgmpy.inference import VariableElimination
h_df=VariableElimination(model)

In [7]:
q =h_df.query(variables=['heartdisease'], evidence={'age':int(input('enter age')),'Gender':int(input('enter Gender')),'Family':int(input('enter Family history')),'diet':int(input('enter diet')),'Lifestyle':int(input('enter Lifestyle')),'cholestrol':int(input('enter cholestrol'))})

enter age0
enter Gender0
enter Family history1
enter diet1
enter Lifestyle1
enter cholestrol2

Finding Elimination Order: : : 0it [00:00, ?it/s]
0it [00:00, ?it/s]

In [8]:
print(q)

+-----------------+---------------------+
| heartdisease    |   phi(heartdisease) |
+=================+=====================+
| heartdisease(0) |              0.0000 |
+-----------------+---------------------+
| heartdisease(1) |              1.0000 |
+-----------------+---------------------+