In [1]:
import pandas as pd
import numpy as np 
# import numpy and pandas package

In [6]:
df=pd.read_csv("./ml-lab-practice/datasets/enjoysport.csv")
df

     sky airtemp humidity    wind water forcast  enjoysport
0  sunny    warm   normal  strong  warm    same           1
1  sunny    warm     high  strong  warm    same           1
2  rainy    cold     high  strong  warm  change           0
3  sunny    warm     high  strong  cool  change           1