In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("enjoysport.csv")

In [3]:
df

     sky airtemp humidity    wind water forecast enjoysport
0  sunny    warm   normal  strong  warm     same        yes
1  sunny    warm     high  strong  warm     same        yes
2  rainy    cold     high  strong  warm   change         no
3  sunny    warm     high  strong  cool   change        yes

In [7]:
cols=df.shape[1]
cols

7

In [8]:
rows=df.shape[0]
rows

4

In [9]:
# intialiazing the the specific hyptothesis

In [10]:
h=[]
for i in range(cols-1):
    h.append('0')
h

['0', '0', '0', '0', '0', '0']

In [22]:
# now we have to find which is positive sample and negative sample from the given data set 
# this is because the it works only on positive dataset 
len(h)==cols-1

True

In [12]:
df

     sky airtemp humidity    wind water forecast enjoysport
0  sunny    warm   normal  strong  warm     same        yes
1  sunny    warm     high  strong  warm     same        yes
2  rainy    cold     high  strong  warm   change         no
3  sunny    warm     high  strong  cool   change        yes

In [15]:
positivesample=[]
negativesample=[]
for i in range(rows):
    s=[]
    s.append(df.sky[i])
    s.append(df.airtemp[i])
    s.append(df.humidity[i])
    s.append(df.wind[i])
    s.append(df.water[i])
    s.append(df.forecast[i])
    if df.enjoysport[i]=="yes":
        positivesample.append(s)
    else:
        negativesample.append(s)

In [17]:
positivesample

[['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
 ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
 ['sunny', 'warm', 'high', 'strong', 'cool', 'change']]

In [19]:
negativesample

[['rainy', 'cold', 'high', 'strong', 'warm', 'change']]

In [30]:
for i in range(len(positivesample)):
    for j in range(cols-1):
        if h[j]=='0':
            h[j]=posi

SyntaxError: unexpected EOF while parsing (<ipython-input-30-6ca7fee69bc7>, line 3)