In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("data2.csv")
df

  origin manufacturer  color  decade     type example_type
0  Japan        Honda   Blue    1980  Economy     Positive
1  Japan       Toyota  Green    1970   Sports     Negative
2  Japan       Toyota   Blue    1990  Economy     Positive
3    USA     Chrysler    Red    1980  Economy     Negative
4  Japan        Honda  White    1980  Economy     Positive
5  Japan       Toyota  Green    1980  Economy     Positive
6  Japan        Honda    Red    1990  Economy     Negative

In [3]:
rows=df.shape[0]
rows

7

In [4]:
cols=df.shape[1]
cols

6

In [5]:
h=[]

In [6]:
for i in range(cols-1):
    h.append('0')
h

['0', '0', '0', '0', '0']

In [7]:
positive=[]
negative=[]

In [8]:
df

  origin manufacturer  color  decade     type example_type
0  Japan        Honda   Blue    1980  Economy     Positive
1  Japan       Toyota  Green    1970   Sports     Negative
2  Japan       Toyota   Blue    1990  Economy     Positive
3    USA     Chrysler    Red    1980  Economy     Negative
4  Japan        Honda  White    1980  Economy     Positive
5  Japan       Toyota  Green    1980  Economy     Positive
6  Japan        Honda    Red    1990  Economy     Negative

In [13]:
for i in range(rows):
    s=[]
    s.append(df.origin[i])
    s.append(df.manufacturer[i])
    s.append(df.color[i])
    s.append(df.decade[i])
    s.append(df.type[i])
    if df.example_type[i]=="Positive":
        positive.append(s)
    else:
        negative.append(s)

In [14]:
positive

[['Japan', 'Honda', 'Blue', 1980, 'Economy'],
 ['Japan', 'Honda', 'Blue', 1980, 'Economy'],
 ['Japan', 'Honda', 'Blue', 1980, 'Economy'],
 ['Japan', 'Toyota', 'Blue', 1990, 'Economy'],
 ['Japan', 'Honda', 'White', 1980, 'Economy'],
 ['Japan', 'Toyota', 'Green', 1980, 'Economy']]

In [15]:
negative

[['Japan', 'Toyota', 'Green', 1970, 'Sports'],
 ['USA', 'Chrysler', 'Red', 1980, 'Economy'],
 ['Japan', 'Honda', 'Red', 1990, 'Economy']]

In [16]:
for i in range(len(positive)):
    for j in range(cols-1):
        if h[j]=='0':
            h[j]=positive[i][j]
        elif h[j]!=positive[i][j]:
            h[j]='?'
        else:
            h[j]=positive[i][j]

In [17]:
h

['Japan', '?', '?', '?', 'Economy']