In [1]:
# importing pandas as and numby library 
import pandas as pd
import numpy as np

In [3]:
#reading csv file 

df=pd.read_csv("enjoysport.csv")
df

     sky airtemp humidity    wind water forecast enjoysport
0  sunny    warm   normal  strong  warm     same        yes
1  sunny    warm     high  strong  warm     same        yes
2  rainy    cold     high  strong  warm   change         no
3  sunny    warm     high  strong  cool   change        yes

In [4]:
# Initialize G to the set of maximally general hypotheses in H
# Initialize S to the set of maximally specific hypotheses

     sky airtemp
0  sunny    warm
1  sunny    warm